

.keyboard-layout.container {

    background-color: #4f4f4f;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 975px;
    min-width: 975px;
}

.keyboard {
    transform: translateX(10px);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: grid;
    row-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.num-row {
    grid-column: auto;
    grid-row: row 0;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 0px;
}

.tab-row {
    grid-column: auto;
    grid-row: row 0;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 0px 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 0px;
}

.home-row {
    grid-column: auto;
    grid-row: row 0;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 0px 1.75fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.25fr 0px;
}

.shift-row {
    grid-column: auto;
    grid-row: row 0;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 0px 2.25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.75fr 0px;
}

.space-row {
    grid-column: auto;
    grid-row: row 0;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 0px 1.25fr 1.25fr 1.25fr 6.25fr 1.25fr 1.25fr 1.25fr 1.25fr 0px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d7d7d;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.multi-line {
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}

.key.slash.multi-line {
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
}

.key.comma.multi-line, .key.period.multi-line {
    font-size: 18px;
    line-height: 1em;
    text-align: center;
}


.keyboard-layout.color .right.index {
    background-color: #be6433;
}
.keyboard-layout.color .right.middle, .keyboard-layout.color .left.middle {
    background-color: #5a9fde;
}

.keyboard-layout.color .left.index {
    background-color: #d5a43f;
}

.keyboard-layout.color .right.ring, .keyboard-layout.color .left.ring {
    background-color: #556eb0;
}

.keyboard-layout.color .right.pinky, .keyboard-layout.color .left.pinky {
    background-color: #6faea9;
}

.keyboard-layout.color .space {
    background-color: #ac57a0;
}

.left.index p, .right.index p {
    position: relative;
    top: 5px;
    right: -5px;
}
.left.index p:last-child, .right.index p:last-child {
    position: relative;
    right: 5px;
    top: 15px;
}


label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7d7d7d;
}

#keeb-color label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#keeb-color label p{
    margin: 0px 10px 5px 0px;
}

.fade-out {
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from { opacity: .9 }
    to { opacity: .3 }
    
}

.iso-enter{
    width: calc((1fr * 1.5));
    height: calc((1fr * 2) + 5px);
    clip-path: path('m 0 10 c 0 -10 0 -10 10 -10 h 70 c 10 0 10 0 10 10 v 105 c 0 10 0 10 -10 10 h -55 c -10 0 -10 0 -10 -10 v -45 c 0 -10 0 -10 -10 -10 h 5 c -10 0 -10 0 -10 -10 z')
}