body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1e;
    margin: 0;
    font-family: Arial, sans-serif;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4f4f4f;
    border-radius: 10px;
    padding: 20px;
}

.row {
    display: flex;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d7d7d;
    margin: 2px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.key.esc, .key.backspace, .key.tab, .key.shift, .key.fn, .key.ctrl, .key.alt, .key.command {
    width: 4rem;
}

.key.space {
    width: 22.7rem;
}

.key.f-key, .key.number, .key.hyphen, .key.equals, .key.letter, .key.semicolon, .key.bracket, .key.backslash, .key.apostrophe, .key.comma, .key.period, .key.slash, .key.arrow {
    width: 2.5rem;
}

.multi-line {
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
}

.key.slash.multi-line {
    font-size: 0.9em;
    line-height: 1.3em;
    text-align: center;
}

.key.comma.multi-line, .key.period.multi-line {
    font-size: 0.9em;
    line-height: 1em;
    text-align: center;
}

.key.capslock, .key.enter {
    width: 4.6rem;
}

.key.capslock {
    font-size: 0.8em;
}
.key.shift {
    width: 6rem;
}

.right-index.color {
    background-color: #be6433;
}
.right-middle.color, .left-middle.color {
    background-color: #5a9fde;
}

.left-index.color {
    background-color: #d5a43f;
}

.right-ring.color, .left-ring.color {
    background-color: #556eb0;
}

.right-pinky.color, .left-pinky.color {
    background-color: #6faea9;
}

.space.color {
    background-color: #934988
}